@use 'variables' as v; 
@use 'mixins' as m; 

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
p {
    color: v.$negro;
    font-size: 2rem;
    line-height: 2;
}
.contenedor {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    margin: 0 0 2rem  0 ;
}
h1 {
    font-size: 4rem;
}
h3 {
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: v.$secundario;
    display: inline-block;
    font-size: 3.6rem;
    margin-top: 5rem;
    @include m.tablet{
        margin-top: 0;
    }

    &::after{
        background-color: v.$primario;
        content: '';
        display: block;
        height: 1rem;
        margin: -1.4rem 0 0 0;
        width: calc( 100% + 2rem);
    }

}

ul {
    list-style: none;
    padding: 0;
}

.seccion{
    padding: 3rem 0;
    @include m.tablet{
        padding: 8rem 0;
    }
}