@use 'base/variables' as v;
@use 'base/mixins' as m;

.lugares{



    &__grid{
        column-gap: 4rem;
        display: grid;
        grid-template-columns: repeat(4, 30rem);

        @include m.scrollHorizontal;

        @include m.tablet { 
            @include m.grid(2,2rem);
            overflow-x: hidden;
            overflow-y: hidden;
        }

        @include m.desktop { 
            @include m.grid(4,2rem);
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }
}

.lugar{
    
    &__imagen{
        border-radius: 1rem;
    }

    &__nombre{
        font-size: 1.8rem;
    }
}
